/* css styles */
/* Banner */
#title-block-header {
  /* moving the top of the next element (the text) */
  margin-bottom: -200px;
  position: relative;
  margin-top: -3px;
  /* height of the banner image */
  height: 400px;
}

/*.quarto-title-banner {
  margin-block-end: 1rem;
  position: relative;
  margin-top: -10px;
  height: 150%;
}
*/

/* title on top of the banner */
.quarto-title-block .quarto-title-banner {
  background-size: relative;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 40px;
  background-origin: content-box;
}

/* Bold text */
strong,
b {
  font-weight: bold !important;
}
